.navContainer {
  padding-top: 1rem;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 5%;
}

.navLink {
  font-family: pf-venue, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #00aeef;
  text-decoration: none;
}

.navLink:hover {
  color: #68c4e6;
  cursor: pointer;
  text-shadow: 0 0 5px #68c4e6, 0 0 15px #68c4e6, 0 0 20px #68c4e6,
    0 0 30px #68c4e6, 0 0 40px #68c4e6;
}

.hr {
  border: 0.5px solid #8dc63f;
  width: 90%;
  box-shadow: 0 0 5px #92e668, 0 0 15px #92e668, 0 0 20px #92e668,
    0 0 30px #92e668, 0 0 40px #92e668;
}

/* for mobile screens smaller than or equal to 414px wide*/
@media screen and (max-width: 414px) {
  .navLink {
    font-size: 1rem;
  }
}

/* for tablet screens between and including 415px - 912px wide*/
@media screen and (min-width: 415px) and (max-width: 912px) {
  .navLink {
    font-size: 1.2rem;
  }
}

/* for screens between and including 913px - 1920px wide*/
@media screen and (min-width: 913px) and (max-width: 1920px) {
  .navLink {
    font-size: 1.2rem;
  }
}

/* for screens larger than 1920px*/
@media screen and (min-width: 1921px) {
  .navLink {
    font-size: 2rem;
  }
.linksContainer {
  gap: 2rem;
}
}