.searchFormContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  border: 1px solid #8dc63f;
  background: transparent;
  font-family: mr-eaves-sans, sans-serif;
  font-weight: 300;
  color: #f9ed32;
  width: 500px;
}

.input:focus {
  outline: none;
}

.submitBtn {
  border: 1px solid #ec008c;
  background: transparent;
  font-family: pf-venue, sans-serif;
  font-weight: 300;
  color: #ec008c;
}

.submitBtn:hover {
  border: 1px solid #e54ca8;
  color: #e54ca8;
  cursor: pointer;
  text-shadow: 0 0 30px #e22a86, 0 0 40px #e22a86, 0 0 50px #e22a86,
    0 0 60px #e22a86, 0 0 70px #e22a86;
}
