body {
  text-align: center;
  background-color: #301e49;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fitting-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
